# Build artifacts
build/
managed_components/
dependencies.lock

# IDE files
.vscode/
.idea/
*.code-workspace

# ESP-IDF
sdkconfig
sdkconfig.old

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Compiled files
*.o
*.a
*.elf
*.bin
*.map

node_modules/
build_and_monitor.log
*.log
